@{
    ViewData["Title"] = "Connect with Stripe";
    Layout = "_StripeConnectLayout";
}


<div class="jumbotron vertical-center">
   
    <div class="container">
        <div class="text-center">

            <a href="@ViewData["StripeConnectUrl"]">
                <img src="/images/blue-on-dark.png">
            </a>
        </div>
    </div>
</div>

