<form asp-action="upload"
      asp-controller="api/file"
      method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload Selected Files" />
</form>