<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:flive.database.windows.net,1433;Initial Catalog=fliveproddb;Persist Security Info=False;User ID=fliveuser;Password=J5BwvnE1mJ@2^v;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=flive;AccountKey=WoTroIIKvdvmhzLCFg0eb8i1JP76d2J5g709ewcuJpF02KM2G0sMbPG27zryfsMoDdISQEfo074CUcq7oWgoFA=="  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
    <appSettings>
      
      <add key="TimeToRetainStreamInMins" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="apiEndpoint" value="http://flive.azurewebsites.net/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="apiToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYjA0NjlmYS1mNGUxLTQ4ODEtYmM3Mi01OGQ3MmVkOTNiMTYiLCJ1bmlxdWVfbmFtZSI6ImZsaXZlQGdtYWlsLmNvbSIsImp0aSI6IjliMTA3M2Y3LTQwYjUtNGExZi05ZmJjLWE4NjA1NzVhZDExYyIsImlhdCI6MTQ4OTQxMTQ2NiwibmJmIjoxNDg5NDExNDY2LCJleHAiOjE2NDcxNzc4NjYsImlzcyI6IkV4YW1wbGVJc3N1ZXIiLCJhdWQiOiJFeGFtcGxlQXVkaWVuY2UifQ.FVQwAI-8xxRB6DGrSMZe13W3EwKlW6LN_UeWv9ZGQkk" />

      <add key="Stripe.Endpoint" value="http://flive.azurewebsites.net/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="Stripe.SecretKey" value="sk_live_RFv8j7OVfxGexx4zg2A5KoAx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Stripe.PublishableKey" value="pk_live_PJsamOkVRw1AgAUOT5Lmdmw2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

   
      
    </appSettings>
  
</configuration>