<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=.;Database=FLIVE3;User id=flive;Password=Rewq4321"/>-->

    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-O9BQ0DD\\SQLEXPRESS;Initial Catalog=flivedevdb;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="Data Source=DESKTOP-O9BQ0DD\\SQLEXPRESS;Initial Catalog=flivedevdb;Integrated Security=True;" providerName="System.Data.SqlClient" />


    <!--<add name="DefaultConnection" connectionString="Server=i2wd649p5b.database.windows.net,1433;Database=flivedevdb;User id=fliveuser;Password=J5BwvnE1mJ@2^v" />-->
    <!--  <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=flivedev;AccountKey=irQHdlF8uzGlYlMG5lXxZJrGuU5XcsfmzKEge1zLZZBT7vay29XFtq1sYyNbYj79ggGiC3R6T/mdDL3eR+/u7Q==" />-->



    <!--<add name="DefaultConnection" connectionString="Server=tcp:flive.database.windows.net,1433;Initial Catalog=fliveproddb;Persist Security Info=False;User ID=fliveuser;Password=J5BwvnE1mJ@2^v;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=flive;AccountKey=WoTroIIKvdvmhzLCFg0eb8i1JP76d2J5g709ewcuJpF02KM2G0sMbPG27zryfsMoDdISQEfo074CUcq7oWgoFA=="  />-->

  </connectionStrings>
  <appSettings>
    <add key="TimeToRetainStreamInMins" value="15" />
    <add key="WorkoutAvailabilityCutOffDays" value="30" />

    <!--<add key="apiEndpoint" value="https://flivedev.azurewebsites.net/api" />-->
    <add key="apiToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYjA0NjlmYS1mNGUxLTQ4ODEtYmM3Mi01OGQ3MmVkOTNiMTYiLCJ1bmlxdWVfbmFtZSI6ImZsaXZlQGdtYWlsLmNvbSIsImp0aSI6IjliMTA3M2Y3LTQwYjUtNGExZi05ZmJjLWE4NjA1NzVhZDExYyIsImlhdCI6MTQ4OTQxMTQ2NiwibmJmIjoxNDg5NDExNDY2LCJleHAiOjE2NDcxNzc4NjYsImlzcyI6IkV4YW1wbGVJc3N1ZXIiLCJhdWQiOiJFeGFtcGxlQXVkaWVuY2UifQ.FVQwAI-8xxRB6DGrSMZe13W3EwKlW6LN_UeWv9ZGQkk" />

    <add key="apiEndpoint" value="http://localhost:1048/api" />
    <!--<add key="apiEndpoint" value="https://flive.azurewebsites.net/api" />
    <add key="apiToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYjA0NjlmYS1mNGUxLTQ4ODEtYmM3Mi01OGQ3MmVkOTNiMTYiLCJ1bmlxdWVfbmFtZSI6ImZsaXZlQGdtYWlsLmNvbSIsImp0aSI6IjliMTA3M2Y3LTQwYjUtNGExZi05ZmJjLWE4NjA1NzVhZDExYyIsImlhdCI6MTQ4OTQxMTQ2NiwibmJmIjoxNDg5NDExNDY2LCJleHAiOjE2NDcxNzc4NjYsImlzcyI6IkV4YW1wbGVJc3N1ZXIiLCJhdWQiOiJFeGFtcGxlQXVkaWVuY2UifQ.FVQwAI-8xxRB6DGrSMZe13W3EwKlW6LN_UeWv9ZGQkk" />-->

    <add key="Stripe.Endpoint" value="http://localhost:1048/api" />
    <!-- <add key="Stripe.Endpoint" value="http://flive.azurewebsites.net/api" />-->
    <!--<add key="Stripe.SecretKey" value="sk_test_2QF62uXoS0WiJddHOSV5aVQO" />
    <add key="Stripe.PublishableKey" value="pk_test_V5qNtJSccR6x9KHqGbRY5tzA" />-->
    <add key="ApplicationFeePercentage" value="35" />

    <add key="Stripe.SecretKey" value="sk_live_RFv8j7OVfxGexx4zg2A5KoAx" />
    <add key="Stripe.PublishableKey" value="pk_live_PJsamOkVRw1AgAUOT5Lmdmw2" />


    <add key="Wowza.Endpoint" value="api.cloud.wowza.com" />
    <add key="Wowza.ApiKey" value="PhMZ9R6TYZxGprfnFe3YJUU06JJrorTuMymulejBGpasALJQDnD8Kf11BF193260" />
    <add key="Wowza.AccessKey" value="tOZOKq7zdjFJAhlTcAHMR6NsV5kveE83fHKhF6pvHpOeNEmryloURlqdjYho3602" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
